/* TopContent CSS  */
.content-top {
    position: relative;
    padding: 0 5rem;
}
.card {
    border: none;
}
.card-body {
    font-weight: 300;
}
.next-prev a {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
}
.next-prev a span {
    font-size: 1.2rem;
}
.next-prev a span::before {
    font-size: 1.2rem;
}
/* @media only screen and (max-width: 478px) {
   .card img {
       width: 25%;
       height: 25%;
   }
} */
/* PopularCategories CSS */

.popular-categories {
    position: relativ;
    background: url('../../../images/bg-popular.jpg') no-repeat center center;
    min-height: 500px;
}
.inner-popular-categories {
    margin: 0 5rem;
}
.inner-popular-categories .title-popular {
    padding-top: 5rem;
}
.inner-popular-categories h2 {
    color: #CCC;
    font-size: 2rem;
    animation-name: zoom-in;
    animation-duration: 2s;
}
.box-category {
    position: relative;
    z-index: 1000;
    margin-top: 5rem;
}
.box-category a {
    text-decoration: none;
}
.box-category a:hover {
    color: #666;
}
.box-category .title-category p {
    margin-top: 1rem;
    font-size: 1.4rem;
}
.box-category .title-category span{
    padding-left: 10rem;
    font-size: 5rem;
    color: #DDD;
}
.box-category .card-body img {
    width: 2rem;
    height: 2rem;
}
.banner-category {
    position: relative;
}
.inner-banner img {
    width: 400px;
    height: 300px;
    background-size: cover;
    background-attachment: cover;
}
@media only screen and (max-width: 768px) {
    .popular-categories {
        display: none;
    }
}

/* NewProduct CSS */

