/* Header */
.top-nav>ul>li a:hover, .nav-menu li a:hover {
    color:#575757;
    text-decoration: none;
}
.top-nav-left ul, .top-nav-right ul {
    display: flex;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 1rem;
}
.top-nav-right ul {
    justify-content: flex-end;
}
.top-nav-right ul li:nth-child(2), .top-nav-right ul li:nth-child(4){
    border-bottom: 1px solid #DDD;
}
.top-nav-right ul li:nth-child(2)::after, .top-nav-right ul li:nth-child(4)::after {
    content:"\f107";
    font-family: 'FontAwesome';
    margin-left: 1rem;
    margin-left: 0.5rem;
}
.top-nav-left>ul>li, .top-nav-right>ul>li {
    margin-right: 1.2rem;
}
.bottom-header {
    padding-top:2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e2e2e2;
}
.logo {
    margin-top: 1rem;
    margin-left: 5rem;
}
.top-search {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.top-search .btn-dropdown {
    background: #111;
    color: #EEE;
    outline: none;
    height: 4rem;
    min-width: 17rem;
    border: none;
}
.btn-dropdown span {
    display: inline-block;
    color: #DDD;
    font-size: 1.2rem;
}
.btn-dropdown span::before {
    content: "\f038";
    font-family: 'FontAwesome';
    margin-right: 1.5rem;
    color: #AAA;
}
.btn-dropdown span::after {
    content:"\f107";
    font-family: 'FontAwesome';
    margin-left: 1rem;
}
.dropdown-menu .nav-menu{
    min-width: 17rem;
    max-height: 20rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.nav-menu li:hover {
    background-color: #DDD;
}
/* .nav-menu a {
    color: #111;
} */
.search-form {
    width: 320px;
    position: relative;
}
.search-form input[type="text"] {
    background: #DDD;
    border: medium none;
    height: 4rem;
    padding: 0 6rem 0 1.5rem;
    position: absolute;
    width: 100%;
    font-size: 1.4rem;
}
#search-icon {
    background: #575757 url('../images/submit-icon.png') no-repeat center center;
    border: medium none;
    height: 4rem;
    width: 4.5rem;
    float: right;
    position: relative;
}
.info-box {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 5rem;
}
.info-box a {
    margin: 1rem 1.2rem;
}
.info-box img {
    width: 1.8rem;
    height: 1.8rem;
}
.info-box span {
    position: absolute;
    bottom: 50%;
}
.inner-acc-box {
    position: absolute;
    width: 12rem;
    background: #DDD;
    right: 10rem;
    display: none;
    top: 2.1rem;
    color: #111;
}
.inner-acc-box:before {
    content: "";
	position: absolute;
	top: -6px;
	left: 108px;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #DDD;
}
.inner-acc-box a:hover {
    color: rgb(255, 0, 0);
}
.account-box i {
    margin: 0 0.8rem;
}
.account-box {
    text-align: center;
    /* font-size: 1.2rem; */
}
.account-box:hover .inner-acc-box  {
    display: inline-block;
    z-index: 9999;
    opacity: 1;
}
.nav-bar>ul{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 5rem;
}
.nav-bar ul li {
    margin-top: 0.5rem;
    margin-right: 3.5rem;
}
.nav-bar ul li a {
    color: #333;
}
.nav-bar>ul>li:hover a{
    color: #111;
}

.nav-bar>ul>li>a:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid #BBB;
}
@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
    .nav-bar {
        display: none;
    }
}